---
global:
  writeToFile: false
  indexerConfig:
    enabled: true
    esServers: [{{.ES_SERVER}}]
    insecureSkipVerify: true
    defaultIndex: {{.ES_INDEX}}
    type: elastic
jobs:
  - name: prometheus-sizing-static
    jobIterations: 1
    cleanup: true
    qps: {{.QPS}}
    burst: {{.BURST}}
    namespacedIterations: false
    namespace: prometheus-sizing-static
    waitWhenFinished: true
    jobPause: {{.JOB_PAUSE}}
    objects:
      - objectTemplate: templates/pod.yml
        replicas: {{.POD_REPLICAS}}
        inputVars:
          containerImage: gcr.io/google_containers/pause-amd64:3.0

  - name: delete-prometheus-sizing-static
    waitForDeletion: true
    jobType: delete
    objects:
      - kind: Namespace
        labelSelector: {kube-burner-job: prometheus-sizing-static}

